py-navigation-bar {
  padding: 8px;
  display: block;
  z-index: 5;
}

.navigation-bar__container {
  display: flex;
}

.navigation-bar__history-buttons {
  margin-right: 10px;
  display: flex;
}

.navigation-bar__history-bar {
  flex-grow: 1;
  padding: 5px;
}

.navigation-bar__history-buttons__button {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #afaeae;
  margin-left: 2px;
  background: #afaeae;
  color: white;
}
.navigation-bar__history-buttons__button:focus {
  outline: none;
}
.navigation-bar__history-buttons__button:hover {
  border-color: #8b8a8a;
}
.navigation-bar__history-buttons__button.disabled {
  opacity: 0.5;
  pointer-events: none;
}