py-graph {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.block-class {
    background: #e5e5e5;
    border: 1px solid #c8c7c7;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 15px;
    border-radius: 10px;
    margin: 30px;

    &.central {
        border-color: #707070;
        border-width: 2px;
    }

    &:hover {
        border-color: #707070;
    }
}

.block-class_group {
    background: white;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .title {
        font-weight: bold;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        ion-icon {
            margin-right: 5px;
            font-size: 20px;
        }
    }
}

.block-class_title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.method {
    background: #f9bb43;
}

.property {
    background: #6fb4d3;
}

.method,
.property {
    padding: 4px 8px;
    border-radius: 6px;
    margin: 3px 0;
    color: #232323;
}

.outer-relations,
.inner-relations {
    display: flex;
    flex-direction: column;
}