html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

split-area > p {
    padding: 15px;
}

@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/mdn-like.css";

.cm-s-mdn-like.CodeMirror {
    background: none;
}

.cm-s-mdn-like .CodeMirror-gutters {
    border-left: none;
    background-color: white;
}

.CodeMirror {
  height: auto;
}