@import './variables';

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: black;
}

p {
    margin: 0;
}

/** SPLIT WINDOWS **/

.app-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.windows {
    display: flex;
    width: 100%;
    height: calc(100% - 75px);
    flex-grow: 2;
}

/** Welcome **/

.windows_welcome {
    position: absolute;
    width: 100%;
    height: calc(100% - #{$topBarHeight} - #{$statusBarHeight});
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.windows_welcome_selectors-container,
.windows_welcome_selectors-container_message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.windows_welcome_selectors-container_input {
    margin: 30px 0;

    #welcome-folder-selector {
        display: none;
    }

    .windows_welcome_selectors-container_input_label-file {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 5px;
    }
}

.windows_welcome_selectors-container_demos_projects {
    margin: 30px 0;

    select {
        height: 30px;
    }
}

.windows_welcome_selectors-container_message {
    margin: 30px 0;

    ion-icon {
        font-size: 64px;
    }
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    position: relative;
}

.gutter {
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: ew-resize;
}

/** WINDOWS **/

.code-window {
    padding: 10px;

    &.codeblock-maximized {
        overflow-y: hidden;
        padding: 0;
    }
}

.graph-window {
    display: flex;
    flex-direction: column;
}

.graph-container {
    overflow: hidden;

    &:focus {
        outline: none;
    }
}

.graph-container,
.graph-container__zoomable {
    width: 100%;
    height: 100%;
    display: flex;
}

/** NOTIFIER **/

@import '../../node_modules/notifier-js/dist/css/notifier';

.notifier-container {
    top: inherit;
    bottom: 35px;
    right: 10px;
}

/** REFRESH BUTTON **/

@import './refresh-button';

/** GRAPH CONTROLS **/

@import './graph-controls';

/** CONTEXT MENU **/

@import './context-menu';

/** TOP BAR **/

@import './top-bar';

/** STATUS BAR **/

@import './status-bar';

/** THEMES **/

@import './theme-dark';
@import './theme-light';

/** VSCode **/

@import './vscode-extension';