html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

p {
    margin: 0;
}

.top-bar {
    width: 100%;
    height: 40px;
    display: flex;

    h1 {
        font-size: 16px;
    }
    h2 {
        font-size: 14px;
    }
}

/** SPLIT WINDOWS **/

.app {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.windows {
    display: flex;
    width: 100%;
    height: 100%;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    position: relative;
}

.gutter {
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: ew-resize;
}

/** WINDOWS **/

.code-window {
    &.codeblock-maximized {
        overflow-y: hidden;
    }
}

.graph-window {
    display: flex;
    flex-direction: column;
}

.graph-container {
    width: 100%;
    height: 100%;
    display: flex;
}

/** NOTIFIER **/

@import '../../node_modules/notifier-js/dist/css/notifier';

.notifier-container {
    top: inherit;
    bottom: 5px;
    right: 10px;
}

/** THEMES **/

@import './theme-dark';
@import './theme-light';
