.theme-dark {
    .top-bar {
        background: #3c3c3c;
        color: #cccccc;
    }

    .gutter {
        background: #424242;
    }

    .code-window {
        background: #1e1e1e;
    }

    py-navigation-bar {
        background: #333333;
    }
}
