.theme-dark {
    .app-container__top-bar {
        background: #3c3c3c;
        color: #cccccc;
    }

    .gutter {
        background: #424242;
    }

    .code-window {
        background: #333333;
    }

    py-navigation-bar {
        background: #333333;
    }

    py-codeblock {
        &>div {
            border-color: #2c2c2c;
        }

        .py-codeblock__top-bar {
            background: #2c2c2c;
            color: white;
        }
    }
}