.theme-light {
    .app-container__top-bar {
        background: #ececec;
        color: #868686;
    }

    .gutter {
        background: #eee;
    }

    .code-window {
        background: #f6f6f6;
    }

    py-navigation-bar {
        background: #f3f3f3;
    }

    .refresh-toaster {
        background: #a6a6a6;
        color: white;

        .refresh-toaster__refresh-button {
            color: #0871e0;
        }

        .refresh-toaster__close-button {
            color: white;
        }
    }
}