.theme-light {

    .app-container__top-bar,
    .app-container__status-bar {
        background: #ececec;
        color: #868686;
    }

    .gutter {
        background: #eee;
    }

    .code-window {
        background: #f6f6f6;
    }

    .graph-container {
        background: #ffffff;
    }

    py-navigation-bar {
        background: #f3f3f3;
    }

    .refresh-toaster {
        background: #a6a6a6;
        color: white;

        .refresh-toaster__refresh-button {
            color: #0871e0;
        }

        .refresh-toaster__close-button {
            color: white;
        }
    }

    .jctx {
        background: white;
        color: black;
    }

    .app-container__top-bar__infos_status {
        background: #a5a5a5;
        color: white;
    }

    .windows_welcome {
        background: #f6f6f6;
        color: #868686;
    }

    .windows_welcome_selectors-container_input_label-file {
        background: #ececec;
        color: #868686;
    }
}