.theme-light {
    .top-bar {
        background: #ececec;
        color: #868686;
    }

    .gutter {
        background: #eee;
    }

    .code-window {
        background: #f6f6f6;
    }

    py-navigation-bar {
        background: #f3f3f3;
    }
}
