py-graph-overview {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph-overview__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph-overview__types-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: auto;
}

.graph-overview__type-list__spacer {
  border: 1px solid #c4c2c2;
  border-radius: 10px;
  margin: 20px;
}

.graph-overview__type-list {
  margin: auto;
}
.graph-overview__type-list .title {
  background: #c4c2c2;
  color: black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px 0;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.graph-overview__type-list .letter-group {
  color: #a2a2a2;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.graph-overview__type-list ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 20px 20px 10px 20px;
  padding: 0;
}
.graph-overview__type-list ul.elements {
  margin: 10px 0;
}

.graph-overview__type {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}
.graph-overview__type.file {
  background: #c1e1aa;
}
.graph-overview__type.class {
  background: #e6e6e6;
}
.graph-overview__type.function {
  background: #f1d16e;
}
.graph-overview__type[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0.7em;
  background: white;
  color: black;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  box-shadow: 0 0 1px #333;
}