.theme-dark {

    .app-container__top-bar,
    .app-container__status-bar {
        background: #3c3c3c;
        color: #cccccc;
    }

    .gutter {
        background: #3c3c3c;
    }

    .graph-container {
        background: #525151;
    }

    .code-window,
    py-navigation-bar {
        background: #333333;
    }

    py-navigation-bar {
        border-bottom: 5px solid #3c3c3c;
    }

    py-codeblock {
        &>div {
            border-color: #2c2c2c;
        }

        .py-codeblock__top-bar {
            background: #2c2c2c;
            color: white;
        }

        .py-codeblock__code-view {
            background: #272822;
        }
    }

    py-graph {
        .block-class {
            background: #272822;
            border-color: #424242;

            .block-class_title {
                color: white;
            }

            .block-class_group {
                background: #2c2c2c;

                .title {
                    color: white;
                }
            }

            &.central {
                border-color: white;
            }

            &:hover {
                border-color: #707070;
            }
        }
    }

    .refresh-toaster {
        background: #2c2c2c;
        color: white;

        .refresh-toaster__refresh-button {
            color: #3897fb;
        }

        .refresh-toaster__close-button {
            color: white;
        }
    }

    .jctx {
        background: black;
        color: white;
    }

    .app-container__top-bar__infos_status {
        background: #fff;
        color: black;
    }

    .windows_welcome {
        background: #333333;
        color: #cccccc;
    }

    .windows_welcome_selectors-container_input_label-file {
        background: #ececec;
        color: #868686;
    }
}